.navbar {
background-color: #39a2a2;
}

a {
    color: #4dbdbd;
}

.tools {
    color: grey;
}

.title {
    color: white;
    font-size: 2rem;
}

.title:hover {
    color: rgba(255, 255, 255, 0.784);
    font-size: 2rem;
}


/* .nav-link:active .navBtn {
    color: red !important;
} */

.navbar-nav .nav-link.active {
    color: rgba(255, 255, 255, 0.888);
    font-size: 1.5rem;
}

.navbar-nav:hover .nav-link.active:hover {
    color: rgba(255, 255, 255, 0.739);
    font-size: 1.5rem;
}


.submitBtn {
    background-color: #4dbdbd;
    /* border: rgb(221, 221, 221); */
    border-radius: 10px;
}

.input {
    /* border: rgb(221, 221, 221); */
    border-radius: 10px;
    display: block;
    align-items: center;
    justify-content: center;
    margin: auto;
}

/* .form {
    background-color: #4dbdbd49;
} */

.card-footer {
 background-color: white;
}